    /* Carousel base class */
    .carousel {
        height: 500px;
        /* Since positioning the image, we need to help out the caption */
        .carousel-caption {
            z-index: 10;
        }
        /* Declare heights because of positioning of img element */
        .carousel-inner {
            .item {
                height: 500px;
                background-color: #777;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    min-width: 100%;
                    height: 500px;
                }
            }
        }
        .carousel-control.left {
            background-image: none;
            background-repeat: none;
        }
        .carousel-control.right {
            background-image: none;
            background-repeat: none;
        }
        ol.carousel-indicators {
             @include ie-7() {
                //margin: 0 auto; 
                text-align: center;
                padding-left: 509px;
                li { 
                    display: inline-block;
                    *display: inline;
                    zoom: 1; 
                }           
            }   
       }
    }