.footerWrap {

	.footer {
        background: $footer_background none repeat scroll 0% 0%;
        height: 100%;
        width: 100%;
        overflow: hidden;
        font-size: 20px;
		@include row();
		.container{
			text-align: center;
			ul { 
				 padding: 25px 10px;
				 font-size: 0.625em;
				 list-style: none;
				 display: inline-block;
				 @include ie-7() {
				 	text-align: center;
				 	width: 56%;
				 	padding-left: 0%;
				 	padding-right: 0%;
				 }
				 //@include breakpoint(sm_mobile md_mobile mobile mobile_to_tablet) { display: block }
				 li {
					 // border-right: 1px solid #DCDEE3;
					 display: inline-block;
					 @include ie-7() {
					 	float: left;
					 }
					 // @include breakpoint(sm_mobile md_mobile mobile mobile_to_tablet) { 
					 // 	display: block;
					 // 	border-right: medium none;
					 // 	border-bottom: 1px solid #DCDEE3;
					 // 	float: none;
					 // }
					 line-height: 1.5em;
					 padding: 0px 10px;
					 a {
					  	 padding: 25px 10px;
					  	 color: rgb(246, 246, 246);
					 }
				 }
				 li.last {
				 	border-right: medium none;
				 	//@include breakpoint(sm_mobile md_mobile mobile mobile_to_tablet) { border-bottom: medium none }
				 }
			}
		}
		
		// .footer_block_container{
		//     width: 89.6505%;
  //           float: left;
  //           padding-left: 1.00806%;
  //           padding-right: 1.00806%;
		// 	@include span(11);
		// 	@include breakpoint (mobile tablet) {
		// 		@include span(12);
		// 	}
		// }

		// .footer_block {
  //           padding-top: 30px;
  //           width: 31.3172%;
  //           float: left;
  //           padding-left: 1.00806%;
  //           padding-right: 1.00806%;
		// 	&.wide{
		// 		// width: 26%;
		// 	}
		// 	&.narrow{
		// 		// width: 18%;
		// 	}
		// 	&.logo{
		// 		@include span(1);
		// 		img{
		// 			float: right;
		// 		}
		// 	}

		// 	@include breakpoint(mobile tablet){
		// 		&.wide,&.narrow,&.logo{
		// 			@include span(12);
		// 			img{
		// 				float: none;
		// 			}
		// 		}
		// 		&.logo{
		// 			padding-bottom: 30px;
		// 		}
		// 	}
		// }

		// .footerheading {
		// 	border-bottom: none;
		// 	color: #fff;
		// 	cursor: default;
		// 	font-size: 0.875em;
		// 	font-weight: bold;
		// 	padding-bottom: 10px;
		// 	@include breakpoint(mobile tablet){
		// 		border-bottom: 1px solid #fff;
		// 		cursor: pointer;
		// 	}

		// 	.expand{
		// 		display: none;
		// 		float: right;
		// 		padding-right: 5px;
		// 		@include breakpoint(mobile tablet){ display: block; }
		// 	}
		// }

		// ul {
		// 	display: inline-block;
		// 	color: #fff;
		// 	font-size: 0.75em;
		// 	list-style: none;
		// 	@include breakpoint(mobile tablet){ display: none; }
		// 	&.active{
		// 		display:inline-block;
		// 	}

		// 	li {
		// 		line-height: 1.2em;
		// 		padding-top: .5em;
		// 		a {
		// 			@include linkUnderline();
		// 			color: #FAF9F8;
		// 		}
		// 	}
		// }
	}
}
