//History Page CSS
#main_body_history {
	#history-main {
		position:relative;
		overflow-x:hidden;
	}
	.affix {
	    top: 50px;
	}
	/*
	div#anchor_nav {
		padding-bottom: 0px;
	 	div.history-subnavbar {
	 		padding-top: 0px;
	 		padding-bottom: 0px;
	 		text-align:center;
	 		width: 100%;
	 		border-bottom: 0px;
	 		div#second-navbar {
	 			ul {
	 				float:none;
	 				display:inline-block;
					vertical-align: top;
				}
	 		}
	 	}
	}
	*/
	p {
		font-size: 15px;
		a {
			color: #35948e;
		}
	}
	p.img-caption {
		font-size: 12px;
		margin-top: 8px;
		padding: 0px 20px 0px 20px;
	}
	.large_quotes {
		font-size: 20px;
		font-weight: 600;
		i.fa {
			color: #35948e;
		}
	}
	.bot-mar {
		margin-bottom: 15px;
	}
	.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	    line-height: 1.1;
		font-weight: 500;
	}
	div.modal-body {
		@include breakpoint(extra_lg){
			height: 830px;
		}
	    @include breakpoint(really_big){
	    	height: 830px;
	    }
	    @include breakpoint(large){
	    	height: 830px;
	    }
	    @include breakpoint(desktop){
	    	height: 830px;
	    }
	    @include breakpoint(sm_desktop){
	    	height: 830px;
	    }
	    @include breakpoint(lg_tablet){
	    	height: 1165px;
	    }
	}
	.close {
		float: right;
		font-size: 60px;
		font-weight: 700;
		line-height: 1;
		color: #fff;
		text-shadow: 0px 1px 0px #000;
		opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important; // first!
		filter: alpha(opacity=100) !important;	// second!
		position: absolute;
		@include breakpoint(extra_lg){
			right: -34px;
			top: -20px;
		}
	    @include breakpoint(really_big){
			right: -34px;
			top: -20px;
	    }
	    @include breakpoint(large){
			right: -34px;
			top: -20px;
	    }
	    @include breakpoint(desktop){
			right: -34px;
			top: -20px;
	    }
	    @include breakpoint(sm_desktop){
			right: -34px;
			top: -20px;
	    }
	    @include breakpoint(lg_tablet){
			right: -34px;
			top: -20px;
	    }
	    @include breakpoint(tablet){
			font-size: 50px;
			right: -30px;
			top: 0px !important;
	    }
	    @include breakpoint(mobile_to_tablet){
			font-size: 50px;
			right: -30px;
			top: 0px !important;
	    }
	    @include breakpoint(mobile){
			font-size: 50px;
			right: -30px;
			top: 0px !important;
	    }
	    @include breakpoint(sm_mobile){
			font-size: 50px;
			right: -30px;
			top: 0px !important;
	    }
	}
	.history_banner {
		background: #443c34;
		margin-top: 50px;
		height: auto;
		.history_title_wrapper {
			color: #FFFFFF;
			position:absolute;
			top:50px;
			left:10px;
			width:100%;
			height:200px;
			padding-bottom: 5px;
			display:table;
	        @include breakpoint(sm_desktop){
	            //height:195px;
				height:175px;
	        }
	        @include breakpoint(lg_tablet){
	            //height:170px;
				height:150px;
	        }
	        @include breakpoint(tablet){
	            height:131px;
	        }
	        @include breakpoint(nav){
	            //height:120px;
				height:100px;
	        }
	        @include breakpoint(mobile){
	            height:85px;
	        }
	        @include breakpoint(md_mobile){
	            height:80px;
	        }
	        @include breakpoint(sm_mobile){
	            height:60px;
	        }
	        .history_title {
				display:table-cell;
				vertical-align:bottom;
				text-align:center;
	        }
	        .pg-title {
	        	color: #FFF;
	        	font-weight: bold;
	        	font-size: 40px;
		        @include breakpoint(sm_desktop){
		            font-size: 38px;
		        }
		        @include breakpoint(lg_tablet){
		            font-size: 36px;
		        }
		        @include breakpoint(tablet){
		            font-size: 34px;
		        }
		        @include breakpoint(nav){
		            font-size: 32px;
		        }
		        @include breakpoint(mobile){
		            font-size: 30px;
		        }
		        @include breakpoint(md_mobile){
		            font-size: 28px;
		        }
		        @include breakpoint(sm_mobile){
		            font-size: 26px;
		        }
	        }
		}
	}
	#anchor_nav {
		background: #28231F;
		padding-top: 0px;
		padding-bottom: 0px;
		text-align:center;
		width: 100%;
		border-bottom: 0px;
		height: auto;
		.navbar-toggle {
			cursor: pointer;
			span {
				cursor: pointer;
			}
		}
		#second-navbar {
			/* margin-left: 180px; */
			.navbar-nav {
	                    li {
	                        a { color: #FFF; 
	                            outline: none;
	                        }
	                        a:hover, .active { 
	                            text-decoration: underline;
	                        }
	                    }
	                    .active { 
	                        text-decoration: underline;
	                        color: #FFF;
	                        background-color: transparent;
	                        a { 
	                            color: #FFF;
	                            background-color: transparent;
	                        }
	                        a:hover, .active, a:focus { 
	                            text-decoration: underline;
	                            background-color: transparent;
	                        }
	                    }
	    	}
		}
		.nav .navbar-nav,
		.navbar .nav > li {
			float:none;
			display:inline-block;
			*display:inline; /* ie7 fix */
			*zoom:1; /* hasLayout ie7 trigger */
			vertical-align: top;
		}
		ul {
	    	/*list-style-type: none;
	    	padding: 0;
	    	display: table;
	    	margin:0 auto;*/
			float:none;
			display:inline-block;
			vertical-align: top;
		}
		li {
	    	/*float: left;*/
		}
		a {	
	    	font-size: 20px;
	    	color: #FFFFFF;
		}
		.navbar-toggle {
			padding: 0px 13px;
			margin-top: 8px;
			margin-right: 15px;
			margin-bottom: 8px;
			background-color: transparent;
			background-image: none;
			border: 1px solid transparent;
			border-radius: 4px;
			color: #FFF;
			position: relative;
			float: none;
			font-size: 20px;
			height: 30px;
			z-index: 50;
			span { 
				margin-left: 8px;
				margin-right: 8px;
			}
		}
	}
	div#civil_war {
		background: rgb(226,226,226);
		padding-top: 100px;
		position: relative;
		z-index: 0;
		div.civil_title {
			text-align: center;
			h2 {
				color: rgb(68,61,55);
				font-size: 35px;
				margin: 0px 15px 0px 15px;
			}
			h3 {
				color: rgb(68,61,55);
				font-size: 30px;
				margin-bottom: 40px;
			}
		}
		div.civil_text {
			overflow: auto;
			padding-bottom: 20px;
			color: rgb(68,61,55);
		}
		div.civil_text2 {
			//overflow: auto;
			padding-bottom: 20px;
			color: rgb(68,61,55);
			div.civil_text2_left {
				//background:url($civil-war) no-repeat center center;
				//min-height: 316px;
				padding: 15px;
				text-align: center;
				h3 {
					color: rgb(68,61,55);
					font-size: 30px;
					margin-bottom: 40px;
				}
			}
			div.civil_text2_left img {
				//display: block;
				//margin-left: auto;
				//margin-right: auto;
			}
			div.civil_text2_right {
			}
		}
		div.hover-year {
			h1 {
				position: absolute;
				top: -15px;
				left: 100px;
				color: rgb(199,199,199);
				font-size: 75px;
			}
		}
	}
	div#span_amer_war {
		background: rgb(226,226,226);
		padding-top: 20px;
		div.span_amer_war_title {
			text-align: center;
			color: rgb(68,61,55);
			h2 {
				color: rgb(68,61,55);
				font-size: 35px;
				margin: 0px 15px 0px 15px;
			}
			h3 {
				color: rgb(68,61,55);
				font-size: 30px;
				margin-bottom: 40px;
			}
		}
		div.span_amer_war_text1 {
			padding: 15px;
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			p.img-caption {
				color: rgb(68,61,55);
			}
		}
		div.span_amer_war_text2 {
			overflow: auto;
			color: rgb(68,61,55);
			padding-bottom: 120px;
		}
	}
	div#ww1-banner {
		//max-width: 100%;
		//height: auto;
		//width: 100%;
		position: relative;
		min-height: 270px;
		padding: 0px 0 45%;
		width: 100%;
		div.ww1-banner-img {
			z-index: 0;
			background-image: url($ww1); 
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
            height: 100%;
            margin: 0px auto;
            overflow: hidden;
            position: absolute;
            width: 100%;
			img {
				//height: auto;
				//width: 100%;
			}
		}
		div.ww1-banner-img-ie {
			height: 0px;
		}
	}
	div#ww1 {
		background: rgb(213,209,200);
		padding-top: 0px;
		position: relative;
		z-index: 5;
		div.ww1-banner-caption {
			color: rgb(72,65,59);
			top: -40px;
		}
		div.ww1_title {
			text-align: center;
			h2 {
				color: rgb(72,65,59);
				font-size: 35px;
				margin: 0px 15px 0px 15px;
			}
			h3 {
				color: rgb(72,65,59);
				font-size: 30px;
				margin-bottom: 40px;
			}
		}
		div.ww1_image {
			//background:url($ww1) no-repeat center center;
			//min-height: 392px;
			padding: 15px;
		}
		div.ww1_image img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		div.ww1_text {
			color: rgb(72,65,59);
		}
		div.ww1_text2 {
			padding-bottom: 20px;
			color: rgb(72,65,59);
		}
		div.hover-year {
			h1 {
				position: absolute;
				top: -105px;
				right: 100px;
				color: rgb(72,65,59);
				font-size: 75px;
				@include breakpoint(extra_lg){
					top: -180px;
				}
			    @include breakpoint(really_big){
			    	top: -150px;
			    }
			    @include breakpoint(large){
			    	top: -110px;
			    }
			    @include breakpoint(desktop){
			    	top: -95px;
					display: none;
			    }
			    @include breakpoint(sm_desktop){
			    	top: -90px;
					display: none;
			    }
			    @include breakpoint(lg_tablet){
			    	top: -90px;
					display: none;
			    }
			    @include breakpoint(tablet){
					display: none;
			    }
			    @include breakpoint(mobile_to_tablet){
					display: none;
			    }
			    @include breakpoint(mobile){
					display: none;
			    }
			    @include breakpoint(sm_mobile){
					display: none;
			    }
			}
		}
	}
	div#ww2-1 {
		background: rgb(213,209,200);
		padding-top: 20px;
		position: relative;
		z-index: 1;
		div.ww2_title {
			text-align: center;
			h2 {
				color: rgb(72,65,59);
				font-size: 35px;
				margin: 0px 15px 0px 15px;
			}
			h3 {
				color: rgb(72,65,59);
				font-size: 30px;
				margin-bottom: 40px;
			}
		}
		div.ww2_text {
			color: rgb(72,65,59);
		}
	}
	div#ww2-2 {
		background: rgb(213,209,200);
		padding-top: 20px;
		position: relative;
		z-index: 1;
		div.ww2_text2_img {
			position: relative;
			div.ww2-2-img {
				z-index: 0;
				img {
					height: auto;
					width: 100%;
				}
			}
			div.ww2-2-caption {
				color: rgb(72,65,59);
				p.img-caption {
					font-size: 12px;
					margin-top: 0px;
					padding: 0px 20px 0px 20px;
				}
			}
		}
	}
	div#ww2-3 {
		background: rgb(213,209,200);
		padding-top: 20px;
		position: relative;
		z-index: 1;
		div.ww2_title {
			text-align: center;
			h2 {
				color: rgb(72,65,59);
				font-size: 35px;
				margin: 0px 15px 0px 15px;
			}
			h3 {
				color: rgb(72,65,59);
				font-size: 30px;
				margin-bottom: 40px;
			}
		}
		div.ww2_text {
			color: rgb(72,65,59);
		}
		div.ww2_text2 {
			color: rgb(72,65,59);
		}
		div.ww2_text3 {
			color: rgb(72,65,59);
		}
		div.ww2_text4 {
			color: rgb(72,65,59);
		}
		div.ww2_text5 {
			color: rgb(72,65,59);
		}
		div.ww2_text6 {
			color: rgb(72,65,59);
			overflow: auto;
			padding-bottom: 100px;
		}
	}
	div#korean_war {
		background: rgb(183,178,158);
		padding-top: 100px;
		position: relative;
		z-index: 0;
		div.korean_war_title {
			text-align: center;
			h2 {
				color: rgb(72,65,59);
				font-size: 35px;
				margin: 0px 15px 0px 15px;
			}
			h3 {
				color: rgb(72,65,59);
				font-size: 30px;
				margin-bottom: 40px;
			}
		}
		div.korean_war_text {
			color: rgb(72,65,59);
			div.korean_war_text_left {
			}
			div.korean_war_text_right {
			}
		}
		div.korean_war_text2 {
			color: rgb(72,65,59);
		}
		div.korean_war_text3 {
			color: rgb(72,65,59);
		}
		div.korean_war_text4 {
			color: rgb(72,65,59);
		}
		div.korean_war_text5 {
			color: rgb(72,65,59);
		}
		div.korean_war_text6 {
			color: rgb(72,65,59);
		}
		div.korean_war_text7 {
			color: rgb(72,65,59);
			div.korean_war_text7_left {
				
			}
			div.korean_war_text7_right {
				
			}
		}
		div.korean_war_text8 {
			color: rgb(72,65,59);
		}
		div.korean_war_text9 {
			color: rgb(72,65,59);
			padding-bottom: 20px;
		}
		div.korean_war_text10 {
			color: rgb(72,65,59);
			padding-bottom: 20px;
		}
		div.korean_war_text11 {
			color: rgb(72,65,59);
			overflow: auto;
			padding-bottom: 100px;
		}
		div.hover-year {
			h1 {
				position: absolute;
				top: -15px;
				left: 100px;
				color: rgb(130,122,100);
				font-size: 75px;
			}
		}
	}
	div#profile {
		background-color: rgb(65,65,73);
		//padding-top: 100px;
		padding: 0px;
		position: relative;
		/*
		div.profile_header {
			text-align: center;
			color: rgb(255,255,255);
			font-size: 35px;
			margin-bottom: 40px;
		}
		*/
		div.profiles {
			div.profiles_1 {
				.col-sm-4 {
					padding: 0px;
				}
				.col-sm-3 {
					padding: 0px;
				}
				.carousel {
					height: 300px;
					@include breakpoint(extra_lg){
						height: 700px;
					}
				    @include breakpoint(really_big){
				    	height: 500px;
				    }
				    @include breakpoint(large){
				    	height: 390px;
				    }
				    @include breakpoint(desktop){
				    	height: 375px;
				    }
				    @include breakpoint(sm_desktop){
				      
				    }
				    @include breakpoint(lg_tablet){
						height: 250px;
				    }
				    @include breakpoint(tablet){
				    	height: 600px;
				    }
				}
				.carousel .carousel-inner .item {
				    background-color: #777;
				    height: 300px;
					@include breakpoint(extra_lg){
						height: 700px;
					}
				    @include breakpoint(really_big){
				    	height: 500px;
				    }
				    @include breakpoint(large){
				    	height: 390px;
				    }
				    @include breakpoint(desktop){
				    	height: 375px;
				    }
				    @include breakpoint(sm_desktop){
				      
				    }
				    @include breakpoint(lg_tablet){
				    	height: 250px;
				    }
				    @include breakpoint(tablet){
				    	height: 600px;
				    }
				}
				
				.carousel .carousel-inner .item img {
				    left: 0;
					width: auto;
				    max-width: 100%;
				    //height: 250px;
					height: auto;
				    position: absolute;
				    top: 0;
				}
				.carousel-caption {
				    //left: 20%;
					left: 0px;
				    //padding-bottom: 15px;
				    //right: 20%;
					right: 0px;
					bottom: 0px;
					top: 0px;
					color: #fff;
					//padding-top: 20px;
					padding: 10px;
					position: absolute;
					text-align: left;
					text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
					background-color: transparent;
					background-image: url($transparent-pixel);
					//opacity: .4;
					//-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; // first!
					//filter: alpha(opacity=40);	// second!
					p {
						font-size: 20px;
					}
				}
				
				/*
				.carousel .carousel-inner .item:hover {
					.carousel-caption {
						//top: auto;
						background-color: transparent;
						opacity: 1 !important;
						-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important; // first!
						filter: alpha(opacity=100) !important;	// second!
					}
				}
				*/
				
				.carousel .carousel-inner .item:hover {
					.carousel-caption p {
						color: #ffffff;
					}
				}
				
				.carousel-caption p {
					position: absolute;
					top: 85%;
					font-size: 30px;
					font-weight: 600;
					color: #b3b3b3;
					opacity: 1 !important;
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important; // first!
					filter: alpha(opacity=100) !important;	// second!
					@include breakpoint(extra_lg){
						
					}
				    @include breakpoint(really_big){
				    	
				    }
				    @include breakpoint(large){
				    	
				    }
				    @include breakpoint(desktop){
				    	
				    }
				    @include breakpoint(sm_desktop){
				    	font-size: 20px;
				    }
				    @include breakpoint(lg_tablet){
						font-size: 20px;
				    }
				    @include breakpoint(tablet){
				    	font-size: 30px;
				    }
				}
			}
			div.profiles_2 {
				//padding-bottom: 125px;
				.col-sm-3 {
					padding: 0px;
				}
				.carousel {
					height: 300px;
					@include breakpoint(extra_lg){
						height: 500px;
					}
				    @include breakpoint(really_big){
				    	height: 390px;
				    }
				    @include breakpoint(large){
				    	height: 300px;
				    }
				    @include breakpoint(desktop){
				    	height: 280px;
				    }
				    @include breakpoint(sm_desktop){
						height: 240px;
				    }
				    @include breakpoint(lg_tablet){
				    	height: 185px;
				    }
				    @include breakpoint(tablet){
				    	height: 600px;
				    }
				}
				.carousel .carousel-inner .item {
				    background-color: #777;
				    height: 300px;
					@include breakpoint(extra_lg){
						height: 500px;
					}
				    @include breakpoint(really_big){
				    	height: 390px;
				    }
				    @include breakpoint(large){
				    	height: 300px;
				    }
				    @include breakpoint(desktop){
				    	height: 280px;
				    }
				    @include breakpoint(sm_desktop){
				    	height: 240px;
				    }
				    @include breakpoint(lg_tablet){
				    	height: 185px;
				    }
				    @include breakpoint(tablet){
				    	height: 600px;
				    }
				}
				.carousel .carousel-inner .item img {
				    left: 0;
					width: auto;
				    max-width: 100%;
					//height: 250px;
					height: auto;
				    position: absolute;
				    top: 0;
				}
				.carousel-caption {
				    //left: 20%;
					left: 0px;
				    //padding-bottom: 15px;
				    //right: 20%;
					right: 0px;
					bottom: 0px;
					top: 0px;
					//padding-top: 20px;
					padding: 10px;
					position: absolute;
					text-align: left;
					text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
					background-color: transparent;
					background-image: url($transparent-pixel);
					//opacity: .4;
					//-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; // first!
					//filter: alpha(opacity=40);	// second!
				}
				
				/*
				.carousel .carousel-inner .item:hover {
					.carousel-caption {
						//top: auto;
						background-color: transparent;
						opacity: 1 !important;
						-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important; // first!
						filter: alpha(opacity=100) !important;	// second!
						color: #ffffff;
					}
				}
				*/
				.carousel .carousel-inner .item:hover {
					.carousel-caption p {
						color: #ffffff;
					}
				}
				
				.carousel-caption p {
					position: absolute;
					top: 85%;
					font-size: 30px;
					font-weight: 600;
					color: #b3b3b3;
					opacity: 1 !important;
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important; // first!
					filter: alpha(opacity=100) !important;	// second!
					@include breakpoint(extra_lg){
						
					}
				    @include breakpoint(really_big){
				    	top: 75%;
				    }
				    @include breakpoint(large){
				    	top: 65%;
				    }
				    @include breakpoint(desktop){
				    	top: 65%;
				    }
				    @include breakpoint(sm_desktop){
						top: 70%;
				    	font-size: 20px;
				    }
				    @include breakpoint(lg_tablet){
				    	top: 65%;
						font-size: 20px;
				    }
				    @include breakpoint(tablet){
				    	font-size: 30px;
				    }
				}
			}
		}
	}
	div#present-banner {
		//max-width: 100%;
		//height: auto;
		//width: 100%;
		position: relative;
		min-height: 270px;
		padding: 0px 0 45%;
		width: 100%;
		div.present-banner-img {
			z-index: 0;
			background-image: url($modern-army); 
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
            height: 100%;
            margin: 0px auto;
            overflow: hidden;
            position: absolute;
            width: 100%;
			img {
				//height: auto;
				//width: 100%;
			}
		}
		div.present-banner-img-ie {
			height: 0px;
		}
	}
	div#present {
		padding-top: 0px;
		position: relative;
		background-color: #FFFFFF;
		z-index: 4;
		div.present_title {
			text-align: center;
			h2 {
				color: rgb(72,65,59);
				font-size: 35px;
				margin: 0px 15px 0px 15px;
			}
			h3 {
				color: rgb(72,65,59);
				font-size: 30px;
				margin-bottom: 40px;
			}
		}
		div.present_text {
			color: rgb(72,65,59);
		}
		div.present_text2 {
			color: rgb(72,65,59);
		}
		div.present_text3 {
			color: rgb(72,65,59);
			padding-bottom: 100px;
		}
		div.hover-year {
			h1 {
				position: absolute;
				top: -105px;
				right: 100px;
				color: #dd6c3f;
				font-size: 75px;
				@include breakpoint(extra_lg){
					top: -180px;
				}
			    @include breakpoint(really_big){
			    	top: -150px;
			    }
			    @include breakpoint(large){
			    	top: -110px;
			    }
			    @include breakpoint(desktop){
			    	top: -95px;
			    }
			    @include breakpoint(sm_desktop){
			    	top: -90px;
			    }
			    @include breakpoint(lg_tablet){
			    	top: -90px;
			    }
			}
		}
	}
	.resourcesWrap {
		padding-bottom: 45px;
		padding-top: 45px;
		.resources {
			ul {
				li {
					a {
						font-size: 14px !important;
						font-weight: 600;
					}
					p {
						font-size: 14px !important;
					}
				}
			}
		}
	}
	div#myModal1 {
		div.modal-content {
			position: relative; 
			.bg-img {
				img {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					min-width: 100%;
					height: 275px;
				    @include breakpoint(lg_tablet){
				    	height: 245px;
				    }
				}
			}
			div.modal-header {
				display: none;
			}
			div.modal-body {
				div.m-content {
					position: relative;
					z-index: 2;
					text-align: left;
					padding: 50px;
				    @include breakpoint(mobile_to_tablet){
						padding: 0px;
				    }
				    @include breakpoint(mobile){
						padding: 0px;
				    }
				    @include breakpoint(sm_mobile){
						padding: 0px;
				    }
					h4 {
						font-size: 40px;
						@include breakpoint(extra_lg){
							color: #ffffff;
							margin-bottom: 15px;
						}
					    @include breakpoint(really_big){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(large){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(desktop){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_desktop){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(lg_tablet){
							color: #ffffff;
							margin-bottom: 65px;
					    }
					    @include breakpoint(tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					}
					h5 {
						font-size: 24px;
						margin-bottom: 75px;
						color: #ffffff;
						@include breakpoint(extra_lg){
							margin-bottom: 70px;
						}
					    @include breakpoint(really_big){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(large){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(desktop){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(sm_desktop){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(lg_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile_to_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(sm_mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					}
					p {
				
					}
					img.floatLeft { 
					    margin-right: 15px;
						margin-bottom: 15px;
						@include breakpoint(extra_lg){
							width: 250px;
							height: auto;
							float: left;
						}
					    @include breakpoint(really_big){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(large){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(sm_desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(lg_tablet){
							width: 200px;
							height: auto;
							float: left;
						    margin-right: 15px;
							margin-bottom: 0px;
					    }
					    @include breakpoint(tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					}
				}
			}
			div.modal-footer {
				display: none;
			}
		}
	}
	div#myModal2 {
		div.modal-content {
			position: relative;
			.bg-img {
				img {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					min-width: 100%;
					height: 275px;
				    @include breakpoint(lg_tablet){
				    	height: 245px;
				    }
				}
			}
			div.modal-header {
				display: none;
			}
			div.modal-body {
				div.m-content {
					position: relative;
					z-index: 2;
					text-align: left;
					padding: 50px;
				    @include breakpoint(mobile_to_tablet){
						padding: 0px;
				    }
				    @include breakpoint(mobile){
						padding: 0px;
				    }
				    @include breakpoint(sm_mobile){
						padding: 0px;
				    }
					h4 {
						font-size: 40px;
						@include breakpoint(extra_lg){
							color: #ffffff;
							margin-bottom: 15px;
						}
					    @include breakpoint(really_big){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(large){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(desktop){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_desktop){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(lg_tablet){
							color: #ffffff;
							margin-bottom: 60px;
					    }
					    @include breakpoint(tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					}
					h5 {
						font-size: 24px;
						margin-bottom: 75px;
						color: #ffffff;
						@include breakpoint(extra_lg){
							margin-bottom: 70px;
						}
					    @include breakpoint(really_big){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(large){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(desktop){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(sm_desktop){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(lg_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile_to_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(sm_mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					}
					p {
				
					}
					img.floatLeft { 
					    margin-right: 15px;
						margin-bottom: 15px;
						@include breakpoint(extra_lg){
							width: 250px;
							height: auto;
							float: left;
						}
					    @include breakpoint(really_big){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(large){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(sm_desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(lg_tablet){
							width: 200px;
							height: auto;
							float: left;
						    margin-right: 15px;
							margin-bottom: 0px;
					    }
					    @include breakpoint(tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					}
				}
			}
			div.modal-footer {
				display: none;
			}
		}
	}
	div#myModal3 {
		div.modal-content {
			position: relative;
			.bg-img {
				img {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					min-width: 100%;
					height: 275px;
				    @include breakpoint(lg_tablet){
				    	height: 245px;
				    }
				}
			}
			div.modal-header {
				display: none;
			}
			div.modal-body {
				div.m-content {
					position: relative;
					z-index: 2;
					text-align: left;
					padding: 50px;
				    @include breakpoint(mobile_to_tablet){
						padding: 0px;
				    }
				    @include breakpoint(mobile){
						padding: 0px;
				    }
				    @include breakpoint(sm_mobile){
						padding: 0px;
				    }
					h4 {
						font-size: 40px;
						@include breakpoint(extra_lg){
							color: #ffffff;
							margin-bottom: 15px;
						}
					    @include breakpoint(really_big){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(large){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(desktop){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_desktop){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(lg_tablet){
							color: #ffffff;
							margin-bottom: 105px;
					    }
					    @include breakpoint(tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					}
					h5 {
						font-size: 24px;
						margin-bottom: 75px;
						color: #ffffff;
						@include breakpoint(extra_lg){
							margin-bottom: 70px;
						}
					    @include breakpoint(really_big){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(large){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(desktop){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(sm_desktop){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(lg_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile_to_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(sm_mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					}
					p {
				
					}
					img.floatLeft { 
					    margin-right: 15px;
						margin-bottom: 15px;
						@include breakpoint(extra_lg){
							width: 250px;
							height: auto;
							float: left;
						}
					    @include breakpoint(really_big){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(large){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(sm_desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(lg_tablet){
							width: 200px;
							height: auto;
							float: left;
						    margin-right: 15px;
							margin-bottom: 0px;
					    }
					    @include breakpoint(tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					}
				}
			}
			div.modal-footer {
				display: none;
			}
		}
	}
	div#myModal4 {
		div.modal-content {
			position: relative;
			.bg-img {
				img {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					min-width: 100%;
					height: 275px;
				    @include breakpoint(lg_tablet){
				    	height: 245px;
				    }
				}
			}
			div.modal-header {
				display: none;
			}
			div.modal-body {
				div.m-content {
					position: relative;
					z-index: 2;
					text-align: left;
					padding: 50px;
				    @include breakpoint(mobile_to_tablet){
						padding: 0px;
				    }
				    @include breakpoint(mobile){
						padding: 0px;
				    }
				    @include breakpoint(sm_mobile){
						padding: 0px;
				    }
					h4 {
						font-size: 40px;
						@include breakpoint(extra_lg){
							color: #ffffff;
							margin-bottom: 15px;
						}
					    @include breakpoint(really_big){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(large){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(desktop){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_desktop){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(lg_tablet){
							color: #ffffff;
							margin-bottom: 60px;
					    }
					    @include breakpoint(tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					}
					h5 {
						font-size: 24px;
						margin-bottom: 75px;
						color: #ffffff;
						@include breakpoint(extra_lg){
							margin-bottom: 100px;
						}
					    @include breakpoint(really_big){
					    	margin-bottom: 100px;
					    }
					    @include breakpoint(large){
					    	margin-bottom: 100px;
					    }
					    @include breakpoint(desktop){
					    	margin-bottom: 100px;
					    }
					    @include breakpoint(sm_desktop){
					    	margin-bottom: 100px;
					    }
					    @include breakpoint(lg_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile_to_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(sm_mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					}
					p {
				
					}
					img.floatLeft { 
					    margin-right: 15px;
						margin-bottom: 15px;
						@include breakpoint(extra_lg){
							width: 250px;
							height: auto;
							float: left;
						}
					    @include breakpoint(really_big){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(large){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(sm_desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(lg_tablet){
							width: 200px;
							height: auto;
							float: left;
						    margin-right: 15px;
							margin-bottom: 0px;
					    }
					    @include breakpoint(tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					}
				}
			}
			div.modal-footer {
				display: none;
			}
		}
	}
	div#myModal5 {
		div.modal-content {
			position: relative;
			.bg-img {
				img {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					min-width: 100%;
					height: 275px;
				    @include breakpoint(lg_tablet){
				    	height: 245px;
				    }
				}
			}
			div.modal-header {
				display: none;
			}
			div.modal-body {
				div.m-content {
					position: relative;
					z-index: 2;
					text-align: left;
					padding: 50px;
				    @include breakpoint(mobile_to_tablet){
						padding: 0px;
				    }
				    @include breakpoint(mobile){
						padding: 0px;
				    }
				    @include breakpoint(sm_mobile){
						padding: 0px;
				    }
					h4 {
						font-size: 40px;
						@include breakpoint(extra_lg){
							color: #ffffff;
							font-size: 35px;
							margin-bottom: 15px;
						}
					    @include breakpoint(really_big){
					    	color: #ffffff;
							font-size: 35px;
							margin-bottom: 15px;
					    }
					    @include breakpoint(large){
					    	color: #ffffff;
							font-size: 35px;
							margin-bottom: 15px;
					    }
					    @include breakpoint(desktop){
					    	color: #ffffff;
							font-size: 35px;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_desktop){
					    	color: #ffffff;
							font-size: 35px;
							margin-bottom: 15px;
					    }
					    @include breakpoint(lg_tablet){
							color: #ffffff;
							font-size: 35px;
							margin-bottom: 75px;
					    }
					    @include breakpoint(tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					}
					h5 {
						font-size: 24px;
						margin-bottom: 75px;
						color: #ffffff;
						@include breakpoint(extra_lg){
							margin-bottom: 50px;
							font-size: 24px;
						}
					    @include breakpoint(really_big){
					    	margin-bottom: 50px;
							font-size: 24px;
					    }
					    @include breakpoint(large){
					    	margin-bottom: 50px;
							font-size: 24px;
					    }
					    @include breakpoint(desktop){
					    	margin-bottom: 50px;
							font-size: 24px;
					    }
					    @include breakpoint(sm_desktop){
					    	margin-bottom: 50px;
							font-size: 24px;
					    }
					    @include breakpoint(lg_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile_to_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(sm_mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					}
					p {
				
					}
					img.floatLeft { 
					    margin-right: 15px;
						margin-bottom: 15px;
						@include breakpoint(extra_lg){
							width: 250px;
							height: auto;
							float: left;
						}
					    @include breakpoint(really_big){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(large){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(sm_desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(lg_tablet){
							width: 200px;
							height: auto;
							float: left;
						    margin-right: 15px;
							margin-bottom: 0px;
					    }
					    @include breakpoint(tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					}
				}
			}
			div.modal-footer {
				display: none;
			}
		}
	}
	div#myModal6 {
		div.modal-content {
			position: relative;
			.bg-img {
				img {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					min-width: 100%;
					height: 275px;
				    @include breakpoint(lg_tablet){
				    	height: 245px;
				    }
				}
			}
			div.modal-header {
				display: none;
			}
			div.modal-body {
				div.m-content {
					position: relative;
					z-index: 2;
					text-align: left;
					padding: 50px;
				    @include breakpoint(mobile_to_tablet){
						padding: 0px;
				    }
				    @include breakpoint(mobile){
						padding: 0px;
				    }
				    @include breakpoint(sm_mobile){
						padding: 0px;
				    }
					h4 {
						font-size: 40px;
						@include breakpoint(extra_lg){
							color: #ffffff;
							margin-bottom: 15px;
						}
					    @include breakpoint(really_big){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(large){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(desktop){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_desktop){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(lg_tablet){
							color: #ffffff;
							margin-bottom: 75px;
							font-size: 35px;
					    }
					    @include breakpoint(tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					}
					h5 {
						font-size: 24px;
						margin-bottom: 75px;
						color: #ffffff;
						@include breakpoint(extra_lg){
							margin-bottom: 70px;
						}
					    @include breakpoint(really_big){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(large){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(desktop){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(sm_desktop){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(lg_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile_to_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(sm_mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					}
					p {
				
					}
					img.floatLeft { 
					    margin-right: 15px;
						margin-bottom: 15px;
						@include breakpoint(extra_lg){
							width: 250px;
							height: auto;
							float: left;
						}
					    @include breakpoint(really_big){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(large){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(sm_desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(lg_tablet){
							width: 200px;
							height: auto;
							float: left;
						    margin-right: 15px;
							margin-bottom: 0px;
					    }
					    @include breakpoint(tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					}
				}
			}
			div.modal-footer {
				display: none;
			}
		}
	}
	div#myModal7 {
		div.modal-content {
			position: relative;
			.bg-img {
				img {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					min-width: 100%;
					height: 275px;
				    @include breakpoint(lg_tablet){
				    	height: 245px;
				    }
				}
			}
			div.modal-header {
				display: none;
			}
			div.modal-body {
				div.m-content {
					position: relative;
					z-index: 2;
					text-align: left;
					padding: 50px;
				    @include breakpoint(mobile_to_tablet){
						padding: 0px;
				    }
				    @include breakpoint(mobile){
						padding: 0px;
				    }
				    @include breakpoint(sm_mobile){
						padding: 0px;
				    }
					h4 {
						font-size: 40px;
						@include breakpoint(extra_lg){
							color: #ffffff;
							margin-bottom: 15px;
						}
					    @include breakpoint(really_big){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(large){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(desktop){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_desktop){
					    	color: #ffffff;
							margin-bottom: 15px;
					    }
					    @include breakpoint(lg_tablet){
							color: #ffffff;
							margin-bottom: 60px;
					    }
					    @include breakpoint(tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							color: #000000;
							margin-bottom: 15px;
					    }
					}
					h5 {
						font-size: 24px;
						margin-bottom: 75px;
						color: #ffffff;
						@include breakpoint(extra_lg){
							margin-bottom: 70px;
						}
					    @include breakpoint(really_big){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(large){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(desktop){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(sm_desktop){
					    	margin-bottom: 70px;
					    }
					    @include breakpoint(lg_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile_to_tablet){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					    @include breakpoint(sm_mobile){
							margin-bottom: 15px;
							color: #000000;
					    }
					}
					p {
				
					}
					img.floatLeft { 
					    margin-right: 15px;
						margin-bottom: 15px;
						@include breakpoint(extra_lg){
							width: 250px;
							height: auto;
							float: left;
						}
					    @include breakpoint(really_big){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(large){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(sm_desktop){
							width: 250px;
							height: auto;
							float: left;
					    }
					    @include breakpoint(lg_tablet){
							width: 200px;
							height: auto;
							float: left;
						    margin-right: 15px;
							margin-bottom: 0px;
					    }
					    @include breakpoint(tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile_to_tablet){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					    @include breakpoint(sm_mobile){
							width: 100%;
							height: auto;
							float: left;
							margin-bottom: 15px;
					    }
					}
				}
			}
			div.modal-footer {
				display: none;
			}
		}
	}
	/* Transitions for 1812 */
	.transition-1812 {
	    width: 100%;
	    position: relative;
	    bottom: 98px;
	    @include breakpoint(really_big){
	      bottom: 116px;
	    }
	    @include breakpoint(large){
	      bottom: 100px;
	    }
	    @include breakpoint(desktop){
	      bottom: 100px;
	    }
	    @include breakpoint(sm_desktop){
	      bottom: 93px;
	    }
	    @include breakpoint(lg_tablet){
	      bottom: 85px;
	    }
	    @include breakpoint(tablet){
	      bottom: 82px;
	    }
	    @include breakpoint(mobile_to_tablet){
	      bottom: 79px;
	    }
	    @include breakpoint(mobile){
	      bottom: 72px;
	    }
	    @include breakpoint(sm_mobile){
	      bottom: 69px;
	    }
	  }
	.transition-1812::before {
	    content: "";
	    top: 97%;
	    left: 50%;
	    width: 150%;
	    height: 100px;
	    transform: translateX(-50%) rotate(-2deg);
	    -ms-transform: translateX(-50%) rotate(-2deg); /* IE 9 */
	    -webkit-transform: translateX(-50%) rotate(-2deg); /* Chrome, Safari, Opera */
	    position: absolute;
	    background: rgb(183,178,158) none repeat scroll 0% 0%;
	    z-index: 3;
	}
	.transition-1812::after {
	    content: "";
	    top: 93%;
	    left: 83%;
	    width: 172%;
	    height: 134px;
	    transform: translateX(-49%) rotate(-4deg);
	    -ms-transform: translateX(-49%) rotate(-4deg); /* IE 9 */
	    -webkit-transform: translateX(-49%) rotate(-4deg); /* Chrome, Safari, Opera */
	    position: absolute;
	    background: rgb(183,178,158) none repeat scroll 0% 0%;
	    z-index: 3;
	    border-bottom: 2px #28231F solid;
	}
	.transition-1812-bar {
	    width: 100% !important;
	    position: relative;
	    bottom: 10px;
	}
	.transition-1812-bar::after {
	    content: "";
	    top: 97%;
	    left: 43%;
	    width: 150%;
	    height: 80px;
	    transform: translateX(-52%) rotate(-3deg);
	    -ms-transform: translateX(-52%) rotate(-3deg); /* IE 9 */
	    -webkit-transform: translateX(-52%) rotate(-3deg); /* Chrome, Safari, Opera */
	    position: absolute;
	    background: #28231F none repeat scroll 0% 0% !important;
	    z-index: 2;
	}
	/* Transitions for War of 1812 */
		div#war_1812::after {
		    content: "";
		    background: rgb(214,212,213) none repeat scroll 0% 0%;
		    top: 94%;
		    left: 50%;
		    width: 100px;
		    height: 100px;
		    transform: translateX(-50%) rotate(45deg);
		    -ms-transform: translateX(-50%) rotate(45deg);
		    -webkit-transform: translateX(-50%) rotate(45deg);
		    position: absolute;
		    z-index: 3;
		}
	/* Transitions for WW1 */
	.transition-ww1 {
	    width: 100%;
	    position: relative;
	    bottom: 98px;
	    @include breakpoint(really_big){
	      bottom: 116px;
	    }
	    @include breakpoint(large){
	      bottom: 100px;
	    }
	    @include breakpoint(desktop){
	      bottom: 100px;
	    }
	    @include breakpoint(sm_desktop){
	      bottom: 93px;
	    }
	    @include breakpoint(lg_tablet){
	      bottom: 85px;
	    }
	    @include breakpoint(tablet){
	      bottom: 82px;
	    }
	    @include breakpoint(mobile_to_tablet){
	      bottom: 79px;
	    }
	    @include breakpoint(mobile){
	      bottom: 72px;
	    }
	    @include breakpoint(sm_mobile){
	      bottom: 69px;
	    }
	  }
	.transition-ww1::before {
	    content: "";
	    top: 97%;
	    left: 50%;
	    width: 150%;
	    height: 100px;
	    transform: translateX(-50%) rotate(-2deg);
	    -ms-transform: translateX(-50%) rotate(-2deg); /* IE 9 */
	    -webkit-transform: translateX(-50%) rotate(-2deg); /* Chrome, Safari, Opera */
	    position: absolute;
	    background: rgb(226,226,226) none repeat scroll 0% 0%;
	    z-index: 3;
	    @include breakpoint(lg_tablet){
	    	height: 80px;
	    }
	    @include breakpoint(tablet){
	    	height: 80px;
	    }
	    @include breakpoint(mobile_to_tablet){
	    	height: 80px;
	    }
	    @include breakpoint(mobile){
	    	height: 80px;
	    }
	    @include breakpoint(sm_mobile){
	    	height: 80px;
	    }
	}
	.transition-ww1::after {
	    content: "";
	    top: 93%;
	    left: 83%;
	    width: 172%;
	    height: 134px;
	    transform: translateX(-49%) rotate(-4deg);
	    -ms-transform: translateX(-49%) rotate(-4deg); /* IE 9 */
	    -webkit-transform: translateX(-49%) rotate(-4deg); /* Chrome, Safari, Opera */
	    position: absolute;
	    background: rgb(226,226,226) none repeat scroll 0% 0%;
	    z-index: 3;
	    border-bottom: 2px #28231F solid;
	    @include breakpoint(lg_tablet){
	    	height: 80px;
	    }
	    @include breakpoint(tablet){
	    	height: 80px;
	    }
	    @include breakpoint(mobile_to_tablet){
	    	height: 80px;
	    }
	    @include breakpoint(mobile){
	    	height: 80px;
	    }
	    @include breakpoint(sm_mobile){
	    	height: 80px;
	    }
	}
	.transition-ww1-bar {
	    width: 100% !important;
	    position: relative;
	    bottom: 10px;
	}
	.transition-ww1-bar::after {
	    content: "";
	    top: 97%;
	    left: 43%;
	    width: 150%;
	    height: 80px;
	    transform: translateX(-52%) rotate(-3deg);
	    -ms-transform: translateX(-52%) rotate(-3deg); /* IE 9 */
	    -webkit-transform: translateX(-52%) rotate(-3deg); /* Chrome, Safari, Opera */
	    position: absolute;
	    background: #28231F none repeat scroll 0% 0% !important;
	    z-index: 2;
	    @include breakpoint(lg_tablet){
	    	height: 30px;
	    }
	    @include breakpoint(tablet){
	    	height: 30px;
	    }
	    @include breakpoint(mobile_to_tablet){
	    	height: 30px;
	    }
	    @include breakpoint(mobile){
	    	height: 30px;
	    }
	    @include breakpoint(sm_mobile){
	    	height: 35px;
	    }
	}
	/* Transitions for WW1 B */
	.transition-ww1b {
	    width: 100%;
	    position: relative;
	    bottom: 98px;
		@include breakpoint(extra_lg){
		  bottom: 160px;
		}
	    @include breakpoint(really_big){
	      bottom: 130px;
	    }
	    @include breakpoint(large){
	      bottom: 100px;
	    }
	    @include breakpoint(desktop){
	      bottom: 100px;
	    }
	    @include breakpoint(sm_desktop){
	      bottom: 93px;
	    }
	    @include breakpoint(lg_tablet){
	      bottom: 85px;
	    }
	    @include breakpoint(tablet){
	      bottom: 82px;
	    }
	    @include breakpoint(mobile_to_tablet){
	      bottom: 40px;
	    }
	    @include breakpoint(mobile){
	      bottom: 40px;
	    }
	    @include breakpoint(sm_mobile){
	      bottom: 40px;
	    }
	  }
	.transition-ww1b::after {
	    content: "";
	    top: 93%;
	    left: 83%;
	    width: 172%;
	    height: 134px;
	    transform: translateX(-49%) rotate(-4deg);
	    -ms-transform: translateX(-49%) rotate(-4deg); /* IE 9 */
	    -webkit-transform: translateX(-49%) rotate(-4deg); /* Chrome, Safari, Opera */
	    position: absolute;
	    background: rgb(213,209,200) none repeat scroll 0% 0%;
	    z-index: 3;
	    border-top: 2px #28231F solid;
		@include breakpoint(extra_lg){
		  height: 200px;
		}
	    @include breakpoint(really_big){
	      height: 200px;
	    }
	    @include breakpoint(lg_tablet){
	    	
	    }
	    @include breakpoint(tablet){
	    	
	    }
	    @include breakpoint(mobile_to_tablet){
	    	height: 100px;
	    }
	    @include breakpoint(mobile){
	    	height: 100px;
	    }
	    @include breakpoint(sm_mobile){
	    	height: 90px;
	    }
	}
	.transition-ww1b-bar {
	    width: 100% !important;
	    position: relative;
	    bottom: 60px;
	    @include breakpoint(lg_tablet){
	    	
	    }
	    @include breakpoint(tablet){
	    	
	    }
	    @include breakpoint(mobile_to_tablet){
	    	bottom: 30px;
	    }
	    @include breakpoint(mobile){
	    	bottom: 30px;
	    }
	    @include breakpoint(sm_mobile){
	    	bottom: 30px;
	    }
	}
	.transition-ww1b-bar::after {
	    content: "";
	    top: 97%;
	    left: 43%;
	    width: 150%;
	    height: 80px;
	    transform: translateX(-52%) rotate(-5deg);
	    -ms-transform: translateX(-52%) rotate(-5deg); /* IE 9 */
	    -webkit-transform: translateX(-52%) rotate(-5deg); /* Chrome, Safari, Opera */
	    position: absolute;
	    background: #28231F none repeat scroll 0% 0% !important;
	    z-index: 2;
	    @include breakpoint(lg_tablet){
	    	
	    }
	    @include breakpoint(tablet){
	    	
	    }
	    @include breakpoint(mobile_to_tablet){
	    	height: 50px;
	    }
	    @include breakpoint(mobile){
	    	height: 50px;
	    }
	    @include breakpoint(sm_mobile){
	    	height: 70px;
	    }
	}
	/* Transitions for Korean War */
	div#ww2-3::after {
	    content: "";
	    background: rgb(213,209,200) none repeat scroll 0% 0%;
	    top: 91%;
	    left: 50%;
	    width: 100px;
	    height: 100px;
	    transform: translateX(-50%) rotate(45deg);
	    -ms-transform: translateX(-50%) rotate(45deg);
	    -webkit-transform: translateX(-50%) rotate(45deg);
	    position: absolute;
	    z-index: 3;
	    @include breakpoint(mobile){
	      top: 94%;
	    }
	    @include breakpoint(sm_mobile){
	      top: 95%;
	    }
	}
	/* Transitions for Present */
	.transition-present {
	    width: 100%;
	    position: relative;
	    bottom: 98px;
		@include breakpoint(extra_lg){
		  bottom: 160px;
		}
	    @include breakpoint(really_big){
	      bottom: 130px;
	    }
	    @include breakpoint(large){
	      bottom: 100px;
	    }
	    @include breakpoint(desktop){
	      bottom: 100px;
	    }
	    @include breakpoint(sm_desktop){
	      bottom: 93px;
	    }
	    @include breakpoint(lg_tablet){
	      bottom: 85px;
	    }
	    @include breakpoint(tablet){
	      bottom: 82px;
	    }
	    @include breakpoint(mobile_to_tablet){
	      bottom: 79px;
	    }
	    @include breakpoint(mobile){
	      bottom: 72px;
	    }
	    @include breakpoint(sm_mobile){
	      bottom: 69px;
	    }
	  }
	  /*
	.transition-present::before {
	    content: "";
	    top: 97%;
	    left: 50%;
	    width: 150%;
	    height: 100px;
	    transform: translateX(-50%) rotate(-2deg);
	    -ms-transform: translateX(-50%) rotate(-2deg); // IE 9
	    -webkit-transform: translateX(-50%) rotate(-2deg); // Chrome, Safari, Opera
	    position: absolute;
	    background: rgb(134, 134, 134) none repeat scroll 0% 0%;
	    z-index: 3;
	}
	  */
	.transition-present::after {
	    content: "";
	    top: 93%;
	    left: 83%;
	    width: 172%;
	    height: 134px;
	    transform: translateX(-49%) rotate(-4deg);
	    -ms-transform: translateX(-49%) rotate(-4deg); /* IE 9 */
	    -webkit-transform: translateX(-49%) rotate(-4deg); /* Chrome, Safari, Opera */
	    position: absolute;
	    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	    z-index: 3;
	    border-top: 2px #dd6c3f solid;
		@include breakpoint(extra_lg){
		  height: 200px;
		}
	    @include breakpoint(really_big){
	      height: 200px;
	    }
	}
	.transition-present-bar {
	    width: 100% !important;
	    position: relative;
	    bottom: 60px;
	}
	.transition-present-bar::after {
	    content: "";
	    top: 97%;
	    left: 43%;
	    width: 150%;
	    height: 80px;
	    transform: translateX(-52%) rotate(-5deg);
	    -ms-transform: translateX(-52%) rotate(-5deg); /* IE 9 */
	    -webkit-transform: translateX(-52%) rotate(-5deg); /* Chrome, Safari, Opera */
	    position: absolute;
	    background: #dd6c3f none repeat scroll 0% 0% !important;
	    z-index: 2;
	}
	div#ie7-navbar {
		height: 0px;
	}
	//CSS Overrides
	.thumbnail {
		background-color: #273B58 !important;
		border: 0px solid #ddd !important;
	}

	.navbar {
		margin-bottom: 0px !important;
		border: 0px solid #ddd !important;
	}
	
}//End of History Body

//Media Queries

@media screen and (min-width: 2200px) and (max-width: 5000px) {
	div.profile_1_text {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	div.profile_1_head {
		width: 55% !important;
		text-align: right !important;
		padding: 60px 40px 15px 15px !important;
	}
	div.profile_1_img {
		width: 45% !important;
	}
	.transition-1812::before {
	    height: 125px !important;
	}
	.transition-1812-bar {
	    bottom: 0px !important;
	}
	.transition-ww1::before {
	    height: 125px !important;
	}
	.transition-ww1-bar {
	    bottom: 0px !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 2200px) {
	div.profile_1_text {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	div.profile_1_head {
		width: 55% !important;
		text-align: right !important;
		padding: 60px 40px 15px 15px !important;
	}
	div.profile_1_img {
		width: 45% !important;
	}
}

@media screen and (min-width: 992px) {
	div.civil_text {
		padding-left: 0px;
		padding-right: 0px;
	}
	div.span_amer_war_text1 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.span_amer_war_text2 {
		padding-left: 0px;
		padding-right: 0px;
	}
	div.ww1_text {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.ww2_text3 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.ww2_text4 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.ww2_text5 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.ww2_text6 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.korean_war_text {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.korean_war_text2 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.korean_war_text4 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.korean_war_text5 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.korean_war_text6 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.korean_war_text8 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.korean_war_text10 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.korean_war_text11 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.present_text {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	div.present_text2 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 768px) {
	div.profiles_1 {
		.carousel {
			height: 250px !important;
		}
		.carousel .carousel-inner .item {
		    height: 250px !important;
		}
	}
	div.profiles_2 {
		.carousel {
			height: 185px !important;
		}
		.carousel .carousel-inner .item {
		    height: 185px !important;
		}
	}
	.carousel-caption p {
		position: relative;
		top: 60% !important;
		font-size: 20px !important;
		color: #fff;
		opacity: 1 !important;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important; // first!
		filter: alpha(opacity=100) !important;	// second!
	}
}

@media screen and (min-width: 768px) {
	
}

@media screen and (max-width: 768px) {
	div#civil_war {
		padding-top: 50px !important;
	}
	div.hover-year {
		display: none;
	}
	div#profile_1 {
		padding-bottom: 75px !important;
	}
	div.profile_1_header {
		height: auto !important;
	}
	div.profile_1_head {
		width: 100% !important;
		height: auto;
	}
	div.profile_1_img {
		width: 100% !important;
		float: none !important;
		/*padding-bottom: 100px;*/
	}
	div.profile_1_img img {
		display: block;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	div.profile_1_text {
		margin-left: 0px !important;
		margin-right: 0px !important;
		float: none !important;
		position: relative;
		top: 0px !important;
	}
	.close {
		float: right;
		font-size: 60px;
		font-weight: 700;
		line-height: 1;
		color: #fff;
		text-shadow: 0px 1px 0px #000;
		opacity: 0.8;
		right: 0px;
		position: absolute;
		top: -415px !important;
	} 
}
@media screen and (max-width: 699px) {
	div#profile {
		display: none;
	}
	div#ww1 {
	    padding-top: 40px !important;
	}
}
@media screen and (max-width: 480px) {
	.transition-1812::after {
	    left: 80% !important;
	}
	.transition-ww1::after {
	    left: 80% !important;
	}
	.transition-present::after {
	    left: 80% !important;
	}
}

//IE 7 CSS
@include ie-7() {
	/*
	#anchor_nav {
		display: block;
		padding-top: 0px;
	}
	#history-navbar {
		position: relative;
		z-index: 2;
		background-color: #28231F;
		width: 100%;
		height: 40px !important;
		a {
			color: #ffffff;
			text-decoration: none;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;
			padding: 10px 15px 10px 15px;
			li {
				display: inline;
				height: 20px;
				line-height: 20px;
				padding: 20px 10px 20px 10px;
			}
		}
	}
    #revolutionary_war {
    	.hover-year {
    		display: none;
    	}
    }
	*/
	#anchor_nav {
		display: none;
	}	
	.hover-year {
		display: none;
	}
	#profile {
		display: none;
	}
	div#present-banner {
		height: auto !important;
		min-height: auto !important;
		div.present-banner-img {
			display: none !important;
		}
		div.present-banner-img-ie {
			img {
				
			}
		}
	}
	div#ww1-banner {
		height: auto !important;
		min-height: auto !important;
		div.ww1-banner-img {
			display: none !important;
		}
		div.ww1-banner-img-ie {
			img {
				
			}
		}
	}
	div#civil_war {
		padding-top: 50px !important;
	}
	div.span_amer_war_text2 {
		padding-bottom: 50px !important;
	}
	div#ww1 {
		div.ww1-banner-caption {
			top: 0px !important;
			margin-bottom: 50px;
		}
	}
	div.ww2_text6 {
		padding-bottom: 50px !important;
	}
	div#korean_war {
		padding-top: 50px !important;
	}
	div.korean_war_text11 {
		padding-bottom: 50px !important;
	}
	div#present {
		padding-top: 50px !important;
		div.present_text3 {
			padding-bottom: 50px !important;
		}
	}
	
	.transition-1812 {
		display: none;
	}

	.transition-1812-bar {
		display: none;
	}

	.transition-ww1 {
		display: none;
	}

	.transition-ww1-bar {
		display: none;
	}

	.transition-ww1b {
		display: none;
	}

	.transition-ww1b-bar {
		display: none;
	}

	.transition-present {
		display: none;
	}

	.transition-present-bar {
		display: none;
	}
}

//IE 8 CSS
@include ie-8(){
	/*
	#anchor_nav {
		display: block;
		padding-top: 0px;
	}	
	#history-navbar {
		position: relative;
		z-index: 2;
		background-color: #28231F;
		width: 100%;
		height: 40px !important;
		a {
			color: #ffffff;
			text-decoration: none;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;
			padding: 10px 15px 10px 15px;
			li {
				display: inline;
				height: 20px;
				line-height: 20px;
				padding: 20px 10px 20px 10px;
			}
		}
	}
	*/
	#anchor_nav {
		display: none;
	}	
	.hover-year {
		display: none;
	}
	#profile {
		display: none;
	}
	div#present-banner {
		height: auto !important;
		min-height: auto !important;
		div.present-banner-img {
			display: none !important;
		}
		div.present-banner-img-ie {
			img {
				
			}
		}
	}
	
	div#ww1-banner {
		height: auto !important;
		min-height: auto !important;
		div.ww1-banner-img {
			display: none !important;
		}
		div.ww1-banner-img-ie {
			img {
				
			}
		}
	}
	div#civil_war {
		padding-top: 50px !important;
	}
	div.span_amer_war_text2 {
		padding-bottom: 50px !important;
	}
	div#ww1 {
		div.ww1-banner-caption {
			top: 0px !important;
			margin-bottom: 50px;
		}
	}
	div.ww2_text6 {
		padding-bottom: 50px !important;
	}
	div#korean_war {
		padding-top: 50px !important;
	}
	div.korean_war_text11 {
		padding-bottom: 50px !important;
	}
	div#present {
		padding-top: 50px !important;
		div.present_text3 {
			padding-bottom: 50px !important;
		}
	}
	
	.transition-1812 {
		display: none;
	}

	.transition-1812-bar {
		display: none;
	}

	.transition-ww1 {
		display: none;
	}

	.transition-ww1-bar {
		display: none;
	}

	.transition-ww1b {
		display: none;
	}

	.transition-ww1b-bar {
		display: none;
	}

	.transition-present {
		display: none;
	}

	.transition-present-bar {
		display: none;
	}
}