$path: 'http://usarmy.vo.llnwd.net/e2/rv5_images/hispanics/'; 

$green-section-img: $path + 'concrete_seamless.png';
$statistic-section-img: $path + 'stat-bg.jpg';
$logo-img: $path + 'hispanic-logo-desk.png';
$tablet-logo-img: $path + 'hispanic-logo-tab.png';
$mobile-logo-img: $path + 'hispanic-logo-mob.png';
$program-ban: $path + 'program_ban.jpg';
$history-ban: $path + 'history_ban.png';
$homepage-cover-image1: $path + 'pitts.jpg';
$warof1812: $path + 'warof1812.png';
$ww1: $path + 'wwi-big.jpg';
$spanish-american-war: $path + 'spanish-american-war.png';
$decastro: $path + 'decastro.png';
$civil-war: $path + 'civil-war.png';
$rev-war: $path + 'rev-war.png';
$banner-img: $path + 'masthead2500.jpg';
$info-graphic-svg-img: $path + 'info-desktop.svg';
$info-graphic-png-img: $path + 'info-desktop.png';
$info-graphic-mobile-svg-img: $path + 'info-mobile.svg';
$info-graphic-mobile-png-img: $path + 'info-mobile.png';
$modern-army: $path + 'modernarmy.jpg';
$profile-bg: $path + 'profile_bg.png';
$transparent-pixel: $path + 'transpixel.png';