@mixin linkUnderline(){
	&:hover, &:active, &:focus{
		text-decoration: underline;
	}
}

@mixin blockquote(){
	@include accentFont();
	border-left: 5px solid lighten($text_base_color, 20);
	padding-left: 5px;
}

@mixin fb_collapsed()
{
	display: none;
}

@mixin collapsed()
{
	top: 0;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  //filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

$old-ie: false !default;
$ie-7: false !default;
$ie-8: false !default;
$ie-9-or-newer: false !default;

@mixin old-ie {
	// Only use this content if we're dealing with old IE
	@if $old-ie {
		@content;
	}
}

@mixin ie-7 {
  // Only use this content if we're dealing with IE 7
  @if $ie-7 {
    @content;
  }
}

@mixin ie-8 {
  // Only use this content if we're dealing with IE 8
  @if $ie-8 {
    @content;
  }
}

@mixin ie-9-or-newer {
  // Only use this content if we're dealing with IE 9 or newer
  @if $ie-9-or-newer {
    @content;
  }
}

@mixin Opacity($value){
	$IEValue: $value*100;
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
	filter: alpha(opacity=$IEValue);
}

@mixin stripes() {
    @include yep('cssgradients') {
        background: linear-gradient(45deg, lighten($base, 15) 25%,
            lighten($base, 20) 25%, lighten($base, 20) 50%, 
            lighten($base, 15) 50%, lighten($base, 15) 75%, 
            lighten($base, 20) 75%);
        background-size:5px 5px;
    }
    @include nope('cssgradients') {
        background-image: url($diagonal);
    }
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//For Owl Carousel
@mixin owl-transition($prop, $time, $easing){
	-webkit-transition: $prop $time $easing;
	-moz-transition: $prop $time $easing;
	-ms-transition: $prop $time $easing;
	-o-transition: $prop $time $easing;
	transition: $prop $time $easing;
}

@mixin owl-rounded($value){
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}

@mixin owl-transform($prop){
	-webkit-transition: $prop;
	-moz-transition: $prop;
	-ms-transition: $prop;
	-o-transition: $prop;
	transition: $prop;
}