.navbar-wrapper { 
    @include ie-7() {
        display: none;
    }  
    @include ie-8() {
        display: none;
    }  
    .container { 
        max-width: 1920px;               
        .navbar-fixed-top {
            border-width: 0px 0px 0px;
        }
        nav.navbar, nav.nav-inverse {
            .container { width: 100%; }
            background-color: $nav_background;
            border-color: $nav_background;
            .navbar-brand { 
                width: 501px;
                height: 51px;
                background-image: url($logo-img);
                @media screen and (min-width: 700px) and (max-width: 767px) {// tablet - 1px to match bootstrap.
                     background-image: url($tablet-logo-img); 
                     float: left;
                     padding: 3px 15px 15px;
                     height: 17px;
                     margin-top: 17px;
                     width: 258px;
                     margin-left: 15px;
                }
                @include breakpoint(mobile_to_tablet) {
                     background-image: url($tablet-logo-img);
                     float: left;
                     padding: 3px 15px 15px;
                     height: 17px;
                     margin-top: 17px;
                     width: 258px;
                     margin-left: 15px;
                }
                @include breakpoint(mobile) {
                     background-image: url($tablet-logo-img); 
                     float: left;
                     padding: 3px 15px 15px;
                     height: 17px;
                     margin-top: 17px;
                     width: 261px;
                     margin-left: 15px;
                     background-repeat: no-repeat;
               }
               @media screen and (max-width: 328px) { 
                     background-image: url($mobile-logo-img); 
                     float: left;
                     padding: 3px 15px 15px;
                     height: 17px;
                     margin-top: 20px;
                     width: 168px;
                     margin-left: 15px;
                     background-repeat: no-repeat;
               }
               @include ie-7() {      
                     height: 26px;
                     position:absolute;
                     top:20px;
                     right:22px;
                     display:block;
                     width:450px;
                     height:486px;
                     background-image: url($logo-img); 
                     background-repeat: no-repeat;
                     filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src='http://usarmy.vo.llnwd.net/e2/rv5_images/hispanics/hispanic-logo.png');
                     z-index:1;
                }       
            }
            .navbar-collapse {
                border-top: 0px;
                box-shadow: none;
            }
            #nav-toggle {
                span, span:before, span:after {
                   cursor: pointer;
                   border-radius: 1px;
                   height: 5px;
                   width: 35px;
                   background: white;
                   position: absolute;
                   display: block;
                   content: '';

               }
               span:before {
                 top: 10px;
               }
               span:after {
                 top: -10px;
               }
            }
            
            #nav-toggle.active {
                span {
                    background-color: transparent;
                }
            }

            #nav-toggle.active {
                span:before, span:after {
                    top: 0;
                }
                span:before { 
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                }
                span:after { 
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                }
            }
     
            #nav-toggle {
                span, span:before, span:after {
                    transition: all 500ms ease-in-out;
                    -webkit-transition: all 500ms ease-in-out;
                    -ms-transition: all 500ms ease-in-out;
                }
            }

            a.navbar-toggle {
                border: 0px solid transparent;
                background-color: transparent;
                margin: 12px 15px 0px 0px;
                padding: 10px 0px 0px;
                width: 35px;
                height: 30px;
                @include ie-7() {      
                    margin-right: 65px;
                } 
            }
            .navbar-nav {
                padding-top: 1px;
                li {
                    a { color: $nav_text; }
                    a:focus, a:hover {
                        background-color: $nav_hover;
                        color: $nav_text;
                    }
                }
                .active { 
                    background-color: $nav_hover;
                    color: $nav_text;
                    a:focus, a:hover, a {
                        background-color: $nav_hover;
                        color: $nav_text;
                    }
                }
                .dropdown {
                    .dropdown-menu {
                        li {
                            a { color: #333; }
                            @include breakpoint(mobile){
                                a { color: #FFF; }
                            }
                            @include breakpoint(tablet){
                                a { color: #FFF; }
                            }
                            a:focus, a:hover { 
                               background-color: $nav_hover;
                               color: $nav_text;
                           }
                       }
                   }  
               }
           }
       }
   }
}
#old-ie-navbar  { display: none; }
@include ie-7() {
    #old-ie-navbar {
        background-color: #382D21;
        width: 100%;
        height: 52px !important;
        position: fixed;
        z-index: 10;
        display: block; 
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: right;
            padding: 10px 15px 10px 15px;
            li {
                display: inline;
                height: 20px;
                line-height: 30px;
                padding: 15px 10px 18px 10px;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                a {
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            li:hover,li:focus, li.active  {
                background-color: #251D16;
                cursor: pointer;
            }
        }
        a.navbar-brand { 
            width: 501px;
            height: 22px;
            background-image: url($logo-img);
            background-repeat: no-repeat;
            @media screen and (min-width: 700px) and (max-width: 767px) {// tablet - 1px to match bootstrap.
               background-image: url($tablet-logo-img); 
               float: left;
               padding: 3px 15px 15px;
               height: 17px;
               margin-top: 17px;
               width: 253px;
               margin-left: 15px;
           }
           @include breakpoint(mobile_to_tablet) {
               background-image: url($tablet-logo-img);
               float: left;
               padding: 3px 15px 15px;
               height: 17px;
               margin-top: 17px;
               width: 253px;
               margin-left: 15px;
           }
           @include breakpoint(mobile) {
               background-image: url($mobile-logo-img); 
               float: left;
               padding: 3px 15px 15px;
               height: 17px;
               margin-top: 20px;
               width: 245px;
               margin-left: 15px;
               background-repeat: no-repeat;
           }

       }

    }
}
@include ie-8() {
    #old-ie-navbar {
        background-color: #382D21;
        width: 100%;
        height: 52px !important;
        position: fixed;
        z-index: 10;
        display: block;
        ul {
            list-style-type: none;
            margin-top: -53px;
            padding: 0;
            text-align: right;
            padding: 10px 15px 10px 15px;
            li {
                display: inline;
                height: 20px;
                line-height: 30px;
                padding: 15px 10px 18px 10px;
                cursor: pointer;
                a {
                    color: #ffffff;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            li:hover,li:focus, li.active  {
                background-color: #251D16;
                cursor: pointer;
            }
        }
        a.navbar-brand { 
            width: 501px;
            height: 52px;
            background-image: url($logo-img);
            background-repeat: no-repeat; 
            @media screen and (min-width: 700px) and (max-width: 767px) {// tablet - 1px to match bootstrap.
               background-image: url($tablet-logo-img); 
               float: left;
               padding: 3px 15px 15px;
               height: 17px;
               margin-top: 17px;
               width: 253px;
               margin-left: 15px;
            }
            @include breakpoint(mobile_to_tablet) {
               background-image: url($tablet-logo-img);
               float: left;
               padding: 3px 15px 15px;
               height: 17px;
               margin-top: 17px;
               width: 253px;
               margin-left: 15px;
           }
           @include breakpoint(mobile) {
               background-image: url($mobile-logo-img); 
               float: left;
               padding: 3px 15px 15px;
               height: 17px;
               margin-top: 20px;
               width: 245px;
               margin-left: 15px;
               background-repeat: no-repeat;
           }

       }
    }
}