.resourcesWrap {
	background-color: $resources_background;
	padding-bottom: 45px;
	padding-top: 120px;
	.resources {
		.container {
			// font-size: 18px;
			@include breakpoint(sm_mobile md_mobile mobile mobile_to_tablet tablet) { 
				text-align: center;
			}
			// .col-md-4 { 
			// 	width: 41.33333%;
			// 	@include breakpoint(sm_mobile md_mobile mobile mobile_to_tablet) { 
			// 		width: auto;
			// 	}
			// }
			#army-star { 
				@include breakpoint(lg_tablet) {
                   text-align: center;             
				}
				.star {
					float: right;
					@include breakpoint(sm_desktop md_mobile mobile mobile_to_tablet tablet lg_tablet) {
						float: none;
					}
				}
			}
			// h1 {
			// 	color: rgb(61, 61, 60);
			// 	font-size: 36px;
			// 	padding-top: 45px;
			// 	padding-bottom: 20px;
			// }
			.col-md-2 {
				@include ie-7() { 
					width: 6.6667%;
					float: left;
					display: block;
				}
			}
			.col-md-5 {	
			    @include ie-7() { 
					width: 41.6667%;
					float: left;
					display: block;
				}	
				ul { 
					@include ie-7() { 
						float: left;
						width: 100%;
						display: block;
					}
					@include ie-8() { 
						float: left;
						width: 41.6667%;
					}
					li {
						padding-bottom: 15px;
						p {
							color: rgb(61, 61, 60);
						}
						a {
							color: rgb(49, 130, 131);
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}