/*sections with css transform effect */

/* Hispanic Americans Home page */
#mobile-only-white-bg { 
  display: none;
  @include breakpoint(mobile_to_tablet mobile md_mobile sm_mobile) {
     display: block;
  }
}

.green-section {
   background-repeat: no-repeat;
   background: url($green-section-img);
   width: 100%;
   position: relative;
   padding: 3.75em 10%;
   @include breakpoint(mobile){
      padding: 3.75em 3%;
   }
   @include ie-7 { padding-left: 0%; }
   color: #FFF;
   text-align: center; 
   .container {
      width: 100%;
      #green-section-text {
          font-size: 20px;
          @include breakpoint(lg_tablet){
            font-size: 20px;
          }
          @include breakpoint(tablet){
            font-size: 20px;
          }
          @include breakpoint(mobile_to_tablet){
            font-size: 20px;
          }
          @include breakpoint(mobile){
            font-size: 18px;
          }
          @include breakpoint(sm_mobile){
            font-size: 18px;
          }

      }
   }
}
.green-section::after {
   content: "";
    background-repeat: no-repeat;
    background: url($green-section-img);
    top: 78%;
    @include breakpoint(lg_tablet){
      top: 80%;
    }
    @include breakpoint(tablet){
      top: 80%;
    }
    @include breakpoint(mobile_to_tablet){
      top: 80%;
    }
    @include breakpoint(mobile){
      top: 83%;
    }
    @include breakpoint(md_mobile){
      top: 83%;
    }
    @include breakpoint(sm_mobile){
      top: 84%;
    }
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    position: absolute;
    z-index: -5;
}
.news-section {
 width: 100%;
 position: relative;
 padding: 10em 1.51% 7em;
 @include ie-7 { padding-left: 0%; }
 color: #FFF;
 text-align: center; 
 .news_story {
    a.news_story_title:hover, a.news_story_title:focus {
       color: #318283;
    }
  }
 .container {
  width: 100%;
  #yt-events-announcements {
    margin-top: 65px;
    z-index: 10;
    #events-and-announcement {
      color: #8C8C8C;
      text-align: left;
      .right-element {
        border-left: 2px solid #7D8047;
        padding-left: 15px;
        font-size: 12px;
        padding: 0px 15px 0px 15px;
        margin-top: 15px;
        color: #010101;
        .right-date-section {
          color: #7D8047;
          font-weight: bold;
        }
      }
    }
  }
  #hispanic-twitter {
    z-index: 10;
    margin-top: 65px;
    iframe {
      max-height: 356px;
    }
  }
 }
}
.transition-section {
    width: 100%;
    position: relative;
    bottom: 98px;
    @include breakpoint(really_big){
      bottom: 116px;
    }
    @include breakpoint(large){
      bottom: 100px;
    }
    @include breakpoint(desktop){
      bottom: 100px;
    }
    @include breakpoint(sm_desktop){
      bottom: 93px;
    }
    @include breakpoint(lg_tablet){
      bottom: 85px;
    }
    @include breakpoint(tablet){
      bottom: 82px;
    }
    @include breakpoint(mobile_to_tablet){
      bottom: 79px;
    }
    @include breakpoint(mobile){
      bottom: 72px;
    }
    @include breakpoint(sm_mobile){
      bottom: 69px;
    }
  }
.transition-section::before {
    content: "";
    top: 97%;
    left: 50%;
    width: 150%;
    height: 100px;
    transform: translateX(-50%) rotate(-2deg);
    -ms-transform: translateX(-50%) rotate(-2deg); /* IE 9 */
    -webkit-transform: translateX(-50%) rotate(-2deg); /* Chrome, Safari, Opera */
    position: absolute;
    background: #FFF none repeat scroll 0% 0%;
    z-index: 3;
}
.transition-section::after {
    content: "";
    // top: 93%;
    left: 83%;
    width: 172%;
    height: 134px;
    transform: translateX(-49%) rotate(-4deg);
    -ms-transform: translateX(-49%) rotate(-4deg); /* IE 9 */
    -webkit-transform: translateX(-49%) rotate(-4deg); /* Chrome, Safari, Opera */
    position: absolute;
    background: #FFF none repeat scroll 0% 0%;
    z-index: 3;
    border-bottom: 2px #CE4D06 solid;
    @include breakpoint(extra_lg) {
      bottom: -96px;
    }
}
.transition-section-bar {
    width: 100%;
    position: relative;
    bottom: 10px;
}
.transition-section-bar::after {
    content: "";
    top: 97%;
    left: 43%;
    width: 150%;
    height: 89px;
    transform: translateX(-52%) rotate(-3deg);
    -ms-transform: translateX(-52%) rotate(-3deg); /* IE 9 */
    -webkit-transform: translateX(-52%) rotate(-3deg); /* Chrome, Safari, Opera */
    position: absolute;
    background: #DD6C3F none repeat scroll 0% 0%;
    z-index: 2;
}
.statistics-section {
   background-repeat: no-repeat;
   background: url($statistic-section-img); 
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 120px;
   @include ie-7() {
      height: 100%;
      padding-bottom: 12%;
   }
   position: relative;
   padding: 34em 10%;
   @include ie-8() {
     padding: 28em 10%;
  }
   @include ie-9-or-newer() {
      padding: 25em 10%;
   }
   color: #FFF;
   text-align: center; 
   #info-graphic {
       position: absolute;
       bottom: 25%;
       height: 54%;
       @include ie-8() {
          height: 67%;
       }
       width: 80%;
       left: 10%;
       @include ie-7() {
          height: 67%;
          left: 0%;
       }
       z-index: 100;
       @include breakpoint(lg_tablet tablet mobile_to_tablet mobile sm_mobile md_mobile) {
           bottom: 34%;
       }
       #info-graphic-title {
        color: #F6F1D9;
        font-size: 53px;
        font-weight: 600;
        line-height: 1.25;
        @include breakpoint(lg_tablet) {
          margin-top: 50px;
        }
        @include breakpoint(tablet mobile_to_tablet mobile sm_mobile md_mobile) {
            color: #F6F1D9;
            font-size: 42px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        @include breakpoint(tablet mobile_to_tablet) {
            margin-top: 50px;
        }
        @include breakpoint(mobile md_mobile) {
            margin-top: 20px;
        }
        @include breakpoint(sm_mobile) {
            margin-top: 0px;
        }
      }
       #info-graphic-image {
        background-image: url($info-graphic-svg-img);
        @include ie-7() { 
           background-image: url($info-graphic-png-img);
        }
        @include ie-8() {
           background-image: url($info-graphic-png-img);
        }
        @include ie-9-or-newer() {
           background-image: url($info-graphic-png-img);
        }
        width: 100%;
        background-position: center center;
        @include breakpoint(tablet mobile_to_tablet mobile sm_mobile md_mobile) {
            background-image: url($info-graphic-mobile-svg-img);
            @include ie-9-or-newer() {
               background-image: url($info-graphic-mobile-png-img);
           }
           margin-bottom: 20px;
        }
        background-repeat: no-repeat;
        height: 100%;
        background-size: contain;
        width: 100%;
      }
      #info-graphic-footer {
        color: #f7eed6 ;
        position: absolute;
        font-size: 26px;
        width: 100%;
        text-align: center;
        @include ie-7() {
           right: 0%;
        }
        @include breakpoint(tablet mobile_to_tablet mobile sm_mobile md_mobile) {
            color: #F7EED6;
            position: absolute;
            font-size: 18px;
            width: 100%;
            text-align: center;
        }
      }
  }
   @include ie-7() {
      padding-bottom: 12em;
      background-position-x: center;
      background-position-y: 100%;
   }
   @include ie-8() {
      padding-bottom: 19em;
      background-position-x: center;
      background-position-y: 97%;
   }
}
.under-statistics-section {
   background-repeat: no-repeat;
   background-color: rgb(216, 89, 8);
   width: 100%;
   position: relative;
   padding: 3.75em 10%;
   @include ie-7 { padding-left: 0%; }
   color: #FFF;
   text-align: center; 
   .container {
      width: 100%;
      #green-section-text {
          font-size: 22px;
          @include breakpoint(lg_tablet){
            font-size: 22px;
          }
          @include breakpoint(tablet){
            font-size: 21px;
          }
          @include breakpoint(mobile_to_tablet){
            font-size: 21px;
          }
          @include breakpoint(mobile){
            font-size: 18px;
          }
          @include breakpoint(sm_mobile){
            font-size: 18px;
          }
      }
   }
}
.under-statistics-section::after {
    content: "";
    background-repeat: no-repeat;
    background-color: rgb(216, 89, 8);
    top: 51%;
    @include breakpoint(lg_tablet){
      top: 51%;
    }
    @include breakpoint(tablet){
      top: 51%;
    }
    @include breakpoint(mobile_to_tablet){
      top: 51%;
    }
    @include breakpoint(mobile){
      top: 51%;
    }
    @include breakpoint(md_mobile){
      top: 51%;
    }
    @include breakpoint(sm_mobile){
      top: 52%;
    }
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    position: absolute;
    z-index: 1;
}

/* Hispanic American Programs page */
// .section-cntrl {
//   padding: 40px 10% 80px 10%;
//   img {
//     margin: 0 auto;
//     padding-bottom: 15px;
//   }
// }
// .tso-section {
//    background: #FFF none repeat scroll 0% 0%;
//    width: 100%;
//    position: relative;
//    @include ie-7() { padding-left: 0%; }
//    a { color: #858962}
// }
// .tso-section::after {
//     content: "";
//     background: #FFF none repeat scroll 0% 0%;
//     top: 92%;
//     @include breakpoint(tablet){
//       top: 95%;
//     }
//     @include breakpoint(mobile_to_tablet){
//       top: 95%;
//     }
//     @include breakpoint(mobile){
//       top: 96%;
//     }
//     @include breakpoint(sm_mobile){
//       top: 96%;
//     }
//     left: 50%;
//     width: 100px;
//     height: 100px;
//     transform: translateX(-50%) rotate(45deg);
//     -ms-transform: translateX(-50%) rotate(45deg);
//     -webkit-transform: translateX(-50%) rotate(45deg);
//     position: absolute;
//     z-index: 3;
// }
// .sfl-section {
//    background: #E2E2E2 none repeat scroll 0% 0%;
//    width: 100%;
//    position: relative;
//    padding-top: 110px;
//    @include ie-7() { padding-left: 0%; }
//    a{ color: #858962; }
// }
// .sfl-section::after {
//     content: "";
//     background: #E2E2E2 none repeat scroll 0% 0%;
//     top: 93%;
//     @include breakpoint(tablet){
//       top: 95%;
//     }
//     @include breakpoint(mobile_to_tablet){
//       top: 95%;
//     }
//     @include breakpoint(mobile){
//       top: 96%;
//     }
//     @include breakpoint(sm_mobile){
//       top: 96%;
//     }
//     left: 50%;
//     width: 100px;
//     height: 100px;
//     transform: translateX(-50%) rotate(45deg);
//     -ms-transform: translateX(-50%) rotate(45deg);
//     -webkit-transform: translateX(-50%) rotate(45deg);
//     position: absolute;
//     z-index: 3;
// }
// .rar-section {
//    background: #FFF none repeat scroll 0% 0%;
//    width: 100%;
//    position: relative;
//    padding-top: 110px;
//    @include ie-7() { padding-left: 0%; }
//    a { color: #858962}
// }
