/* 
 * 	Owl Carousel - Lazy Load Plugin
 */

@import 'mixins';

.owl-carousel {
	.owl-item {
		.owl-lazy {
  			opacity: 0;
  			@include owl-transition(opacity, 400ms, ease);
  		}
		img{
			transform-style: preserve-3d;
		}
	}
}
