@import 'reset';
@import 'modernizr';
@import 'mixins';
@import 'media_queries';
@import 'colors';
@import 'spans';
@import 'fonts';
@import 'footer';
@import 'defaults';
@import 'carousel';
@import 'images';
@import 'transform_sections';
@import 'history';
@import 'owl.carousel';
@import 'resources';

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #010101;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
    .container {
        margin: 0 auto;
        max-width: $container;
        @include breakpoint(mobile){
            width: 100%;
        }
        @include breakpoint(tablet){
            width: 100%;
        }
    }

    /* Top NavBar */

    @import 'navbar';
    
 /******   Home Page   ******/ 

 #homepage { 
     overflow-x: hidden; 
     .masthead_container {
        //padding: 50px 0px 40%;// height: 590px;
        @include ie-7 { padding: 50px 0px 40%; }
        @include ie-8 { padding: 50px 0px 40%; }
        padding: 50px 0px 45%;
        position: relative;
        width: 100%;
        min-height: 270px;
        .full_width_image {
            background-color: rgb(119,119,119);
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            margin: 0px auto;
            overflow: hidden;
            position: absolute;
            width: 100%;
            h1 {
                color: #FFF;
                font-size: 76px;
                line-height: 1;
                font-weight: 700;
                position: absolute;
                bottom: 14%;
                left: 8%;
                @include breakpoint(extra_lg){
                    font-size: 76px;
                }
                @include breakpoint(really_big){
                    font-size: 60px;
                }
                @include breakpoint(large){
                    font-size: 52px;
                    // padding-top: 30%;
                }
                @include breakpoint(desktop){
                    font-size: 40px;
                }
                @include breakpoint(sm_desktop){
                    font-size: 40px;
                }
                @include breakpoint(lg_tablet){
                    font-size: 40px;
                    width: 66%;
                    // padding-top: 25%;
                }
                @include breakpoint(tablet){
                    font-size: 40px;
                    width: 66%;
                    padding-left: 8px;
                    padding-bottom: 8px;
                    padding-right: 8px;
                    // padding-top: 25%;
                }
                @include breakpoint(mobile_to_tablet){
                   color: #000;
                   font-size: 19px;
                   line-height: 1.5;
                   font-weight: 700;
                   padding-left: 8px;
                   padding-bottom: 8px;
                   padding-right: 8px;
                   width: 94%;
                   padding-top: 2%;
                   background-color: #FFF;
                   margin-top: 40.5%;
                   margin-left: 3%;
                   border-top: 2px solid #DD6B40;
                   text-align: center;
                   z-index: 100;
                   position: absolute;
                   left: 0%;
                   bottom: 7%;
               }
               @include breakpoint(mobile){
                   color: #000;
                   font-size: 19px;
                   line-height: 1.5;
                   font-weight: 700;
                   padding-left: 8px;
                   padding-bottom: 8px;
                   padding-right: 8px;
                   width: 94%;
                   padding-top: 2%;
                   background-color: #FFF;
                   margin-top: 40.5%;
                   margin-left: 3%;
                   border-top: 2px solid #DD6B40;
                   text-align: center;
                   z-index: 100;
                   position: absolute;
                   left: 0%;
                   bottom: 7%;
               }
                @include breakpoint(md_mobile){
                   color: #000;
                   font-size: 19px;
                   line-height: 1.4;
                   font-weight: 700;
                   padding-left: 8px;
                   padding-bottom: 8px;
                   padding-right: 8px;
                   width: 94%;
                   padding-top: 0%;
                   background-color: #FFF;
                   margin-top: 41.5%;
                   margin-left: 3%;
                   border-top: 2px solid #DD6B40;
                   text-align: center;
                   z-index: 100;
                   position: absolute;
                   left: 0%;
                   bottom: 7%;
               }
               @include breakpoint(sm_mobile){
                   color: #000;
                   font-size: 19px;
                   line-height: 1.4;
                   font-weight: 700;
                   padding-left: 8px;
                   padding-bottom: 8px;
                   padding-right: 8px;
                   width: 94%;
                   padding-top: 0%;
                   background-color: #FFF;
                   margin-top: 50.5%;
                   margin-left: 3%;
                   border-top: 2px solid #DD6B40;
                   text-align: center;
                   z-index: 100;
                   position: absolute;
                   left: 0%;
                   bottom: 7%;
               }
               // Media queries not in mixing
               // @media screen and (min-width: 410px) and (max-width: 447px) {
               //     padding-top: 3%;
               //     margin-top: 42.5%;
               // }
               // @media screen and (min-width: 358px) and (max-width: 409px) {
               //     padding-top: 2%;
               //     margin-top: 47.5%;
               // }
               // @media screen and (min-width: 312px) and (max-width: 357px) {
               //     padding-top: 4%;
               //     margin-top: 50.5%;
               // }
               //  @media screen and (max-width: 311px) {
               //     padding-top: 3%;
               //     margin-top: 57.5%;
               // }
                // padding-left: 8%;
                width: 55%;
                // padding-top: 33%;
           }
        }
        #banner_image.full_width_image {
            background-image: url($banner-img);
            @include ie-8 {
             width: 100%;
             margin-top: 0px;
             filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                src='http://usarmy.vo.llnwd.net/e2/rv5_images/hispanics/masthead2500.jpg',
                sizingMethod='scale');

             -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
                src='http://usarmy.vo.llnwd.net/e2/rv5_images/hispanics/masthead2500.jpg',
                sizingMethod='scale')";
            }
            @include ie-7 {
             width: 100%;
             filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                src='http://usarmy.vo.llnwd.net/e2/rv5_images/hispanics/masthead2500.jpg',
                sizingMethod='scale');

             -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
                src='http://usarmy.vo.llnwd.net/e2/rv5_images/hispanics/masthead2500.jpg',
                sizingMethod='scale')";
            }

        }
    }
     #main {

       .news {
        @include ie-7() {
                .col-md-8 {
                    width: 600px!important;
                }  
                .col-md-4 {
                    width: 320px!important;
                }  
        }
        #news_section {
            text-align: center;
            .news_stories {
                margin-bottom: 10px;
                @include breakpoint(lg_tablet){
                    // width: 33.317%;
                }
                @include breakpoint(tablet){
                    clear: both;
                }
                @include breakpoint(mobile){
                    clear: both;
                }
                @include breakpoint(mobile_to_tablet){
                    clear: both;
                }
            }

            .news_story {
                @include ie-7 {  width: 31.3333%!important; }
                @include span(4);
                @include breakpoint(desktop) {
                    @include span(4);
                    width: 33.317%;
                }
                width: 33.317%;

                @include breakpoint(lg_tablet) {
                    @include span(4);
                    width: 33.317%;
                }

                @media screen and (max-width: 768px) {// tablet - 1px to match bootstrap. {
                    @include span(6);
                    width: 50%!important;
                }

                @media screen and (min-width: 700px) and (max-width: 767px) {// tablet - 1px to match bootstrap. {
                    @include span(6);
                    width: 50%!important;
                }

                @include breakpoint(mobile_to_tablet) {
                    @include span(6);
                    width: 50%!important;
                }

                @include breakpoint(mobile) {
                    @include span(12);
                    width: 100%!important;
                }
                text-align: left;
                padding-bottom: 20px;
                h3 {
                    @include header_4();
                    a {
                        font-weight: bold;
                        &:hover {
                            text-decoration: none;
                            color: #318283;
                        }

                    }
                    @include breakpoint(lg_tablet) {
                       text-overflow: ellipsis;
                       // Required for text-overflow to do anything
                       overflow: hidden;
                       height: 55px;
                    }
                    @include breakpoint(sm_desktop desktop large really_big extra_lg) {
                      text-overflow: ellipsis;
                      overflow: hidden;
                      height: 36px;
                   }

                }
                p {
                   @include breakpoint(lg_tablet) {
                      text-overflow: ellipsis;
                      overflow: hidden;
                      height: 81px;
                   }
                   @include breakpoint(sm_desktop desktop large really_big extra_lg) {
                      text-overflow: ellipsis;
                      overflow: hidden;
                      height: 63px;
                   }
               }
                h3,img,p {
                    margin-bottom: 10px;
                }
                .news_story_link {
                    font-weight: bold;
                    &:hover {
                        text-decoration: underline;
                    }

                }
                a { 
                    color: #493F3D;
                    img {
                        width: 100%;
                        height: auto;
                    }

                }

                &.last_news_story{
                    display: block;
                    @include breakpoint(desktop){
                        display: block;
                    }
                }

                .news_story_description {
                    color: #010101;
                    @include breakpoint(tablet mobile_to_tablet mobile) {
                        display: none;
                    } 
                }

            }

            .more_news_wrap {
                clear: both;
                .inner_wrap {
                    .button {
                        margin-top: 20px;
                        clear:both;
                        margin-left: auto;
                        margin-right: auto;
                        display: inline-block;
                        padding: 6px 12px;
                        margin-bottom: 0px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.42857;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: middle;
                        cursor: pointer;
                        -moz-user-select: none;
                        background-image: none;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        color: #FFF!important;
                        background-color: #318283;
                        @include ie-7 {
                            display: inline-block;
                            *display: inline;
                            zoom: 1;
                        }
                        a {
                            color: #FFF;
                            text-decoration: none;
                            cursor: pointer; 
                            outline: medium none;
                        }
                    }

                }

            }
        }

      }
    }
  }
 /******   Programs Page   ******/ 
#programs-main { display: none; }
#spanish-programs-main { display: none; }
    :target {
        display: block!important;
    }

    // #box-four:target a[href="#box-four"] 
 #programs-main, #spanish-programs-main {
    .programs-main-image {
		background-color: #443c34;
		margin-top: 50px;
		height: auto;
        @include ie-8 {
             width: 100%;
             height: 250px;
             margin-top: 0px;
             filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                src='http://usarmy.vo.llnwd.net/e2/rv5_images/hispanics/program_ban.jpg',
                sizingMethod='scale');

             -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
                src='http://usarmy.vo.llnwd.net/e2/rv5_images/hispanics/program_ban.jpg',
                sizingMethod='scale')";
        }
        @include ie-7 {
             width: 100%;
             height: 250px;
             filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                src='http://usarmy.vo.llnwd.net/e2/rv5_images/hispanics/program_ban.jpg',
                sizingMethod='scale');

             -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
                src='http://usarmy.vo.llnwd.net/e2/rv5_images/hispanics/program_ban.jpg',
                sizingMethod='scale')";
        }
    }
    .programs-subnavbar {
        background-color: #261C15;
        width: 100%;
        .container {
            .navbar-collapse { 
                text-align: center; 
                border-top: 0px;
                border-color: none;
            }
            #programs-second-navbar {
                .navbar-nav {
                   display: inline-block;
                   float: none;
                   vertical-align: top;
                    li {
                        cursor: pointer;
                        a { color: #FFF; 
                            outline: none;
                        }
                        a:hover, .active { 
                            text-decoration: underline;
                        }
                    }
                    .active { 
                        text-decoration: underline;
                        color: #FFF;
                        background-color: transparent;
                        a { 
                            color: #FFF;
                            background-color: transparent;
                        }
                        a:hover, .active, a:focus { 
                            text-decoration: none;
                            background-color: transparent;
                            pointer: cursor;
                        }
                    }
                }
                .language-switcher {
                    padding: 15px;
                    color: #FFF;
                    text-decoration: none;
                    outline: none;
                    span { padding-left: 5px; }
                }
                .language-switcher:hover {
                    cursor: pointer;
                }
            }
            .navbar-toggle {
                padding: 0px 13px;
                margin-top: 8px;
                margin-right: 15px;
                margin-bottom: 8px;
                background-color: transparent;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                color: rgb(255, 255, 255);
                position: relative;
                float: none;
                span { 
                    margin-left: 8px;
                    margin-right: 8px;
                }
            }
            span.navbar-toggle { 
                background-color: #DDD;
            }
            span.navbar-toggle:hover, span.navbar-toggle:focus { 
                background-color: #c2c2c2;
                cursor: pointer;
            }
        }
    }
    .affix {
        top: 50px;
    }
    .title {
        text-align: center;
        color: rgb(86, 75, 76);
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 35px;
    }
    .pg-title {
        color: #FFF;
        font-weight: bold;
        text-align: center;
        font-size: 40px;
        top: 80%;
        position: relative;
    }
    @include ie-7() {
        .container { 
            width: 1170px; 
            max-width: none;
            .col-md-4 {
                width: 33.3333%;
                float: left;
            }
            .col-md-8 {
                width: 59.6667%;
                float: left;
            }
        }
    }
    @include ie-8() {
        .col-md-4 {
            width: 33.3333%;
            float: left;
        }
        .col-md-8 {
            width: 66.6667%;
            float: left;
        }
    }
  }
}